@import '../../assets/stylesheets/mixins/general';
.more-list{
    list-style:none;
    @include flex();
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    li{
        width:33.33333333%;
        max-width:33.33333333%;
        padding:10px 20px;
        text-align:center;
        a{
            position:relative;
            display:block;
            color:#333;
            text-decoration:none;
            text-transform:uppercase;
            padding:60px 5px 10px;
            text-shadow:2px 3px 5px rgba(0, 0, 0, 0.3);
            &:before{
                font-family: 'FontAwesome';
                font-size:40px;
                position:absolute;
                content:'';
                top:0;
                left:50%;
                margin-left:-17.5px;
                text-shadow:2px 3px 5px rgba(117, 117, 117, 0.3);
            }
            &.addEvent:before{
                content:'\f271';
            }
            &.contactUs:before{
                content:'\f2c2';
            }
        }
    }
}